{% extends 'base.html.twig' %}

{% block title 'Movie page - ' ~ parent() %}

{% block body %}
    <div class="card" style="width: 18rem;">
        <img src="{# {{ movie.poster }} #}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{ movie.title|upper }}</h5>
            <h6 class="card-subtitle">{{ movie.director }} ({{ movie.year ?: 'N.A.' }})</h6>
            <h6 class="card-subtitle genres">{{ movie.genres|map(genre => genre.name)|join(', ') }}</h6>
            <p class="card-text">{{ movie.description }}</p>
        </div>
    </div>
{% endblock %}
